.texto{
    margin: 80px;
}
.imagen    > img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
}
.otra{
    margin-top: 60px;

}


.tabla_valores{
    max-width: 50%;
    margin: auto auto;
}
.tituloMon{
    margin-left: 33%;
    margin-top: 100px;
    margin-bottom: 50px;
}
.tit2{
    margin-left: 20%;
    margin-bottom: 50px;

}
